body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.navbar-brand {
  font-size: 15px;
}

.nav-item {
  margin: 2px;
}

#judul {
  font-family: Montserrat;
}

#judul1 {
  font-family: Noto Sans;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 10px;
  font-weight: 500;
  color: white;
}

#main-info {
  background-color: whitesmoke;
  color: #777;
  padding-top: 3.75rem;
  padding-bottom: 1rem;
  position: relative;
}

#kontak,
#booking {
  background-color: #282e34;
  color: #ddd;
  padding-top: 3.75rem;
  padding-bottom: 1rem;
  position: relative;
}

#faqc {
  padding-top: 3.5rem;
}

/* parallax */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/bromo.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/bromo-jeep.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/bromo-kuda.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../img/bromo-ngopi-bareng.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  text-shadow: 3px 3px 5px black;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 10px;
}

h3 {
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8px;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    background-attachment: scroll;
  }
} */

.accordion-body {
  color: black;
  background-color: #e2e2e2;
}

/* slider */
.slider {
  position: relative;
  height: 400px;
  width: 100%;
  opacity: 0.8;
  margin-top: 3.5rem;
}

.slider.fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider.fullscreen ul.slides {
  height: 100%;
}

.slider.fullscreen ul.indicators {
  z-index: 2;
  bottom: 30px;
}

.slider .slides {
  background-color: #9e9e9e;
  margin: 0;
  height: 400px;
}

.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}

.slider .slides li .caption p {
  color: #e0e0e0;
}

.slider .slides li.active {
  z-index: 2;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: #e0e0e0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.slider .indicators .indicator-item.active {
  background-color: #4caf50;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}
